        /* Стили для <main> STUDIO */

/* basic */
.basic {
    background-color: var(--backgr-black);
    padding-top: 200px;
    text-align: center;
}

.basic .title {
    color: var(--text-backgr-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.basic_btn {
    background-color: var(--a-hover-focus--btn);
    color: var(--text-backgr-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0 solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    cursor: pointer;
}

.basic_btn:hover,
.basic_btn:focus {
    background-color: var(--btn-hover-focus);
}

/* prioritie */
.prioritie{
    padding-top: 94px;
    padding-bottom: 94px;
}

.prioritie-list .item {
    width: 270px;
}

.prioritie-list .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* service */
.service {
    padding-bottom: 94px;
}

.service .title {
    margin-bottom: 50px;
}

/* team */
.team {
    background-color: var(--backgr-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team-list .item {
    width: 270px;
    background-color: var(--text-backgr-white);
    padding-bottom: 30px;
}

.team-list img {
    margin-bottom: 30px;
}

.team-list .title {
    font-weight: 500;
    margin-bottom: 10px;
}

/* h2 для ervice и team*/
.service > .title,
.team > .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}